body {
    padding: 0;
    margin: 0;
    color: #3c3c3c;
}

header {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    height: 64px;
    background: #8abe5e;
    align-items: center;
    z-index: 1;
}

div#content {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

div#content > div {
    width: 50%;
    margin-top: 64px;
    box-sizing: border-box;
    border: 1px #3c3c3c solid;
}

textarea#planeText {
    resize: none;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    background: #3c3c3c;
    color: #eeeeee;
    font-size: 16px;
}

div#mdArea {
    width: 100%;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
}

input {
    font-size: 24px;
    color: #3c3c3c;
    padding: 8px;
    width: 512px;
    border: none;
    border-left: 5px #3c3c3c solid;
    background-color: #eeeeee;
    transition: all 500ms ease;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    outline: 0;
}

.btn {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    width: 128px;
    height: 32px;
    background-color: #eeeeee;
    color: #3c3c3c;
    text-align: center;
    line-height: 32px;
    text-decoration: none;
    margin-left: auto;
    z-index: 2;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    transition: all 500ms ease;
}

.btn::before {
    content: "";
    position: absolute;
    display: block;
    z-index: -1;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background: #3c3c3c;
    transition: all 500ms ease;
}

.btn:hover::before {
    width: 100%;
}

.btn:hover {
    color: #eeeeee;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}